<ul class="role-group-list"></ul>


<div class="add_role">
	<input class="role-name-list" name="role-name" type="text" placeholder="{{labels.roles.affect-group.roles.name}}"  />
	<button class="btn btn-success add-role-btn" type="button" title="{{labels.general.save}}" > {{labels.roles.affect-group.roles.add}}</button>
	<button type="button" class="btn cancel" title="{{labels.general.cancel}}"><i class="icon-chevron-up"></i></button>
</div>
