<div id="login">
    <form id="loginForm" action="/j_spring_security_check" method="post">
        <p>
            <label for="j_username" class="input_label">Utilisateur :</label>
            <input name="j_username" id="j_username" value="" type="text" class="round_input"/>
        </p>

        <p>
            <label for="j_password" class="input_label">Mot de passe :</label>
            <input name="j_password" id="j_password" value="" type="password" class="round_input"/>
        </p>

        <div class="k-buttons-bar simply">
            <p>
                <input type="submit" value="Me connecter" class="norm"/>
            </p>
        </div>
    </form>
</div>